<h1>仕事の進め方一覧</h1>

  <div class="tweets-container">
  <% @tweets.each do |t| %>
      <% if t.category == "procedure" %> 
      <div class="tweet">
        <div class="main-box">
          <div class="left-container"><%= t.body %></div>
           <div class="right-container"> 
            <%= link_to "詳細へ", tweet_path(t.id) ,class: "shousai"%>
            <%= link_to "編集する", edit_tweet_path(t.id),class: "henshuu" %>
            
           </div>
        </div>
      </div>
        
        <%=  video_tag t.video_url ,:controls => true if t.video?%>
      <% end %>rails
  
      
  <% end %>
  </div>